In [ ]:
s=[6,5,7,4,3]
print(sorted(s))

[3, 4, 5, 6, 7]

In [ ]:
a=[5,2,8,1,7]
print("minvalue",min(a))

minvalue 1

In [ ]:
print("maximum value",max(a))

maximum value 8

In [ ]:
b=3.14159
print(round (b,2))

3.14

In [ ]:
a=-10
print("absolute value",abs(a))

absolute value 10

In [ ]:
c=[1,2,3,4,5]
print("sum",sum(c))

sum 15

In [ ]:
a=range(1,6)
list(a)

[1, 2, 3, 4, 5]

In [ ]:
set(a)

{1, 2, 3, 4, 5}

In [ ]:
tuple(a)

(1, 2, 3, 4, 5)

In [ ]:

len("phthon")

6

In [ ]:
type("phthon")

str

In [ ]:
a="42"
int(a)

42

In [ ]:
float(a)

42.0

In [ ]:
str(a)

'42'

In [ ]:
input("Enter your name:")

Enter your name:GANESH

'GANESH'

In [ ]:
print("hello,Alice! welcome to the program ")

hello,Alice! welcome to the program

In [ ]:
a=[7,9,6,10,8]
sorted(a)

[6, 7, 8, 9, 10]

In [ ]:
sorted((7,9,6,10,8),reverse=True)

[10, 9, 8, 7, 6]

In [ ]:

for i in range(1,5):
  for j in range(i):
    print("*", end="")
    print()

*
*
*
*
*
*
*
*
*
*

In [ ]:
sum=0
c=0
while(c<5):
  x=int(input("enter the integar:"))
  sum=sum+x
  sum1=sum/5
  c=c+1
  print("the average value is",sum1)

enter the integar:10
the average value is 2.0
enter the integar:20
the average value is 6.0
enter the integar:30
the average value is 12.0
enter the integar:40
the average value is 20.0
enter the integar:50
the average value is 30.0

In [ ]:
a=10
int(a)

10

In [ ]:
float(a)

10.0

In [ ]:
input("your name")
str("your name")

your nameganesh

'your name'

In [ ]:
logged_in=True
bool(logged_in)

True

In [ ]:
logged_out=False
bool(logged_out)

False

In [ ]:
user_name=input("enter your name:")

enter your name:ganesh

In [ ]:
user_age=input("enter your age")
print(f"enter your age is:{user_age}")

enter your age48
enter your age is:48

In [ ]:
a=10
b=3
print(a+b)

13

In [ ]:
print(a-b)

7

In [ ]:
print(a*b)
print(a**b)

30
1000

In [ ]:
print(round(a/b,2))

3.33

In [ ]:
a=17
b=5
print(a%b)

2

In [ ]:
a=10
b=3
print(a==b)

False

In [ ]:
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
True
False
True

In [ ]:
a=5
print(a>5 and a==5)

False

In [ ]:
print(not(a==5))

False

In [ ]:
print(not(a>5))

True

In [ ]:
obj1="hello"
obj2="hello world"
print(obj1 is obj2)

False

In [ ]:
print(obj1 is not obj2)

True

In [ ]:
print(a>3 or a<5)

True

In [ ]:
var1="apple is a fruit"
var2="apple"
print(var2 in var1)

True

In [ ]:
print(var2 not in var1)

False

In [ ]:

num1=5
num2=10
if(num2>num1):
  print(f"{num2} is greater than {num1}")
else:
  print(f"{num2} is not greater than {num1}")

10 is greater than 5

In [ ]:
n=1
for n in range(1,6):
  n=n
  print(n)

1
2
3
4
5

In [ ]:

for n in range(1,6):
  for k in range(5,6):
    print(k,"*",n,"=",n*k)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [ ]:


GRADE=input("enter the studentsgrade is:" )
if GRADE == "A":
  print("EXCELLENT")
elif GRADE == "B":
  print("GOOD")
elif GRADE =="C":
  print("SATISFACTORY")
elif GRADE == "D":
  print("NEEDS IMPROVEMENT")
else:
  print("FAIL")

enter the studentsgrade is:B
GOOD

In [ ]:
num1=5
num2=10
if(num2>num1):
  print("10 is greater than 5")

10 is greater than 5

In [ ]:
x=int(input("enter the number:"))
if(x%2)==0:
  print("{0} is even ".format(x))
else:
    print("{0} is odd ".format(x))

enter the number:6
6 is even

In [ ]:
x=int(input("enter the year:"))
if(x%2==0):
  print("{0} is leap year".format(x))
else:
  print("{0} is not a leap year".format(x))

enter the year:2024
2024 is leap year

In [ ]:
x=int(input("enter the exam score:"))
if(x>=50):
  print("congratulations! you have passed")
else:
  print("sorry,you have failed.better luck next time")

enter the exam score:75
congratulations! you have passed

In [ ]:
x=0
x=int(input("enter the number"))
if(x>0):
  print("positive")
elif(x<0):
  print("negative")
else:
  print("zero")

enter the number-7
negative

In [ ]:
t=0
t=int(input("enter the temperature:"))
if(t<0):
   print("freezing")
elif(t<=18):
     print("cold")
elif(t<=30):
     print("warm")
else:
     print("hot")

enter the temperature:25
warm

In [ ]:
result=1
n=int(input("enter non-negative integar;"))
for i in range(n,0,-1):
  result=result*i
  print("factorial of",n,"is",result)

enter non-negative integar;5
factorial of 5 is 5
factorial of 5 is 20
factorial of 5 is 60
factorial of 5 is 120
factorial of 5 is 120

In [ ]:
n=0
n=int(input("enter positive integar:"))
for n in range(1,n+1):
  n=n
  print(n)

enter positive integar:5
1
2
3
4
5

In [ ]:
rows=int(input("enter the number of rows for the triangle:"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j, end="")
  print()

enter the number of rows for the triangle:4
1
12
123
1234

In [ ]:
n=int(input("enter the numbers of rows in the triangle:"))
for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")
  print()

enter the numbers of rows in the triangle:2
*
* *

In [ ]:
num1=int(input("enter the first number: "))
num2=int(input("enter the second number: "))
gcd=1
for i in range(1,min(num1,num2)):
    if num1 % i == 0 and num2 %i == 0:
       gcd=i
print(f"The greatest common divisor of ",num1, "and", num2, "is", gcd)

enter the first number: 36
enter the second number: 48
The greatest common divisor of  36 and 48 is 12