In [ ]:
fruitslist=['apple','banana','orange']
print("fruitslist:",fruitslist)

fruitslist: ['apple', 'banana', 'orange']

In [ ]:
fruitslist.append('grape')

In [ ]:
print("fruitslist:",fruitslist)

fruitslist: ['apple', 'banana', 'orange']

In [ ]:
fruitslist.remove('banana')

In [ ]:
print("fruitslist:",fruitslist)

fruitslist: ['apple', 'banana', 'orange']

In [ ]:
if'apple' in fruitslist:
  print("yes, 'apple'present in fruitslist.")
else:
  print("no,'apple is not present in fruitlists")

yes, 'apple'present in fruitslist.

In [ ]:
numberslist=[1,2,3]
print("numberlists:",numberslist)

numberlists: [1, 2, 3]

In [ ]:
fruits=['apple','orange','grape']
numbers=[1,2,3]

In [ ]:
fruits.extend(numbers)

In [ ]:
print("fruits:",fruits)

fruits: ['apple', 'orange', 'grape', 1, 2, 3]

In [ ]:
combinedlist=fruits

In [ ]:
print("combinedlist:",combinedlist)

combinedlist: ['apple', 'orange', 'grape', 1, 2, 3]

In [ ]:
index=combinedlist.index('orange')

In [ ]:
print("index:",index)

index: 1

In [ ]:
fruits=['apple','orange','grape']
fruits.reverse()
print("fruits:",fruits)

fruits: ['grape', 'orange', 'apple']

In [ ]:
daystuple=('monday','tuesday','wednesday')

In [ ]:
print("daystuple:",daystuple)

daystuple: ('monday', 'tuesday', 'wednesday')

In [ ]:
second_day=daystuple[1]

In [ ]:
print("second day:",second_day)

second day: tuesday

In [ ]:
index_wednesday=daystuple.index('wednesday')
print("index of'wednesday':",index_wednesday )

index of'wednesday': 2

In [ ]:
count_tuesday=daystuple.count('tuesday')
print("occurrences of'tuesday':",count_tuesday)

occurrences of'tuesday': 1

In [ ]:
fruitsset={'apple','banana','orange'}
print("fruitsset:",fruitsset)

fruitsset: {'orange', 'apple', 'banana'}

In [ ]:
fruitsset.add('grape')
print("fruitsset:",fruitsset)

fruitsset: {'grape', 'orange', 'apple', 'banana'}

In [ ]:
fruitsset.remove('banana')
print("fruitsset:",fruitsset)

fruitsset: {'grape', 'orange', 'apple'}

In [ ]:
colorsset={'red','green','blue'}
print("colorsset:",colorsset)

colorsset: {'green', 'red', 'blue'}

In [ ]:
combined_set=fruitsset.union(colorsset)
print("combined_set:",combined_set)

combined_set: {'green', 'blue', 'orange', 'apple', 'red'}

In [ ]:
fruitsset2={"grape","banana","apple"}
print("fruitsset2:",fruitsset2)

fruitsset2: {'grape', 'banana', 'apple'}

In [ ]:
fruitsset1={"apple","orange","pineapple"}
print("fruitsset1:",fruitsset1)

fruitsset1: {'orange', 'apple', 'pineapple'}

In [ ]:
unique_elements=fruitsset1.difference(fruitsset2)
print("unique elements in fruit set:",unique_elements)

unique elements in fruit set: {'orange', 'pineapple'}

In [ ]:
fruitsset.difference(colorsset)

{'apple', 'grape', 'orange'}

In [ ]:
if colorsset.issubset(fruitsset):
  print("colorsset is a subset of fruitsset")
else:
  print("colorsset is not a subset of fruitsset")

colorsset is not a subset of fruitsset

In [ ]:
z=fruitsset1.issubset(fruitsset2)
print(z)

False

In [ ]:
student={'name':'alice','age':15,'grade':'A'}
print("student dictionary:",student)

student dictionary: {'name': 'alice', 'age': 15, 'grade': 'A'}

In [ ]:
age=student['age']
print("age:",age)

age: 15

In [ ]:
student.update({"grade":'B'})
print(student)

{'name': 'alice', 'age': 15, 'grade': 'B'}

In [ ]:
keys_list=student.keys()
print("list of keys:",keys_list)

list of keys: dict_keys(['name', 'age', 'grade'])

In [ ]:
values_lists=student.values()
print("list of values:",values_lists)

list of values: dict_values(['alice', 15, 'B'])

In [ ]:
items_list=student.items()
print("list of items:",items_list)

list of items: dict_items([('name', 'alice'), ('age', 15), ('grade', 'B')])

In [ ]:
if 'grade' in student:
  print("grade is present in student")
else:
  print("grade is not present in student")

grade is present in student

In [ ]:
def add_numbers(a,b):
    c=a+b
    return(c)

x=5
y=3
z=add_numbers(x,y)
print("the sum of 5 and 3 is:",z)

the sum of 5 and 3 is: 8

In [ ]:
def calculate_square(a):
    z=a**2
    return(z)
x=5
y=calculate_square(x)
print("the square of 5 is:",y)

the square of 5 is: 25

In [ ]:
def greet_person(name,greeting="HI"):
     return greeting ,name


greeting_message=greet_person("alice!")
print(greeting_message)

('HI', 'alice!')

In [ ]:
def calculate_area(length,width=1):
     area=length*width
     return "the area of the rectangle is :",area


y=5
x=calculate_area(y)
print(x)

('the area of the rectangle is :', 5)

In [ ]:
def calculate_power(a,b):
    c=a**b
    return(c)


z=calculate_power(2,3)
print("2 raised to the power of 3 is:",z)

2 raised to the power of 3 is: 8

In [ ]:
def person_info(name,age,country):
    a=name
    b=age
    c="country:","india"
    return a,b,c


x="name:","alice"
y="age:","16"
s=person_info(x,y,country="india")
print("personal information:",s)

personal information: (('name:', 'alice'), ('age:', '16'), ('country:', 'india'))

In [ ]:
def greet_person(name,greeting="hello"):
    return f"{greeting},{name}"


greeting_message_default=greet_person("alice")
print(greeting_message_default)
greeting_message=greet_person("bob","hi there")
print(greeting_message)

hello,alice
hi there,bob

In [ ]:
def calculate_interest(principle,rate,time):
    interest=(principle*rate*time)/100
    print("the simple interest is:",interest)

x=1000
y=5
calculate_interest(x,y,time=2)
print()

the simple interest is: 100.0

In [ ]:
square=lambda a:a**2
print(square(5))

25

In [ ]:
def filter_even(numbers,filter_function):
    return list(filter(filter_function,numbers))


numbers=[1,2,3,4,5,6]
even_numbers=filter_even(numbers,lambda x: x%2==0)
print("even numbers:",even_numbers)

even numbers: [2, 4, 6]

In [ ]:
def function_is_even(a):
   if a%2==0:
    return(True)
   else:
    return(False)


x=7
y=function_is_even(x)
print(y)

False

In [ ]:
def sum_all(*args):
  return sum(args)


def sum_all_from_input():
  numbers_input=input("enter numbersseprated by space:")
  numbers=map(int,numbers_input.split())
  result=sum_all(*numbers)
  return result

print(sum_all_from_input())

enter numbersseprated by space:5 10 15 20
50

In [ ]:
def split_name(full_name):
    return(full_name)

x=input("enter full name")
full_name=(tuple(x.split()))
result=split_name(full_name)
print(result)

enter full namejohn doe
('john', 'doe')

In [ ]:
def is_vowel(character):
    vowels='aeiouAEIOU'
    return character in vowels


y=input(str("enter the character:"))
result=is_vowel(y)
print(result)

enter the character:A
True

In [ ]:
def print_items(*args):
    for item in args:
       print(item)


item=input("enter the items:")
result=print_items(item)
print()

enter the items:apple banana orange
apple banana orange

In [ ]:
def create_person(name,age,country,*args):
      person_info={"name":name,"age":age,"country":country}
      return person_info

x=input("enter the name:")
y=input("enter the age:")
z=input("enter the country:")
result=create_person(x,y,z)
print(result)

enter the name:alice
enter the age:16
enter the country:india
{'name': 'alice', 'age': '16', 'country': 'india'}

In [ ]:

def calculate_product(*args):
    result=1
    for num in args:
      result*=num
    return result

print(calculate_product(2,3,4))

24